<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog do node</h1>
  <p class="lead">Página para usuarios node</p>
  <hr class="my-4">
  <p>Usado para visualizar as postagens.</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr class="my-4">

<h2>Postagens recentes:</h2>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
            <hr>
            <small>Categoria: {{categoria_fk.nome}}</small>
            <br>
            <small>Data de publicação: {{data}}</small>
        </div>
    </div>

{{else}}

    <h5 class="mt-4">Nenhuma Postagem registrada</h5>

{{/each}}